.navbar-container {
  @include flexCenter(row);
  justify-content: space-between;
  margin: clamp(20px, 40px, 100px);
  padding: clamp(10px, 20px, 40px);

  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 20px;
  }

  overflow: hidden;

  .san-valentin {
    height: 3em;
  }

  .reduced {
    height: 2em;
  }

  a {
    font-size: 1.2em;
    color: $red;
    font-family: "Cooper-Black";
    font-weight: 800;
    text-decoration: none;
    text-align: left;
  }
  .right-menu {
    @include flexCenter(row);
    align-items: flex-end;
    width: clamp(200px, 30%, 600px);
  }
}
