// EESTEC color palette
// https://eestec.net/media/international-board/2015-2016/EESTEC%20Brand%20Policy%20Paper.pdf

$white: #ffffff;
$black: #000000;
$grey: #f0f5ff;
$secondaryBlack: #1d1d1d;
$red: #d00200;
$blue: #a1cdf0;
$lightBlue: #e2f0f9;
$warning: #ffe8a8;
