@import "./variables";
@import "./functions";
@import "./fonts";
@import "./body";
@import "./navbar";
@import "./loading";
@import "./piruletas";
@import "./home";
@import "./send";
@import "./preview";
